h1.title, .box1, .box2, .box3, h2, .header, .navlinks, .footer {
    display: none;
}

.verticaltabs {
    list-style: none;
}
.verticaltabs li a {
    display: block;
    background-color: blueviolet;
    width: 30%;
    color: whitesmoke;
    padding: 1em;
    text-decoration: none;
}
.verticaltabs li a:hover {
    background-color: aqua;
    color: darkblue;
}
.horizontaltabs {
    background-color: blueviolet;
}
.horizontaltabs a {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: whitesmoke;
    padding: 1em;
    text-decoration: none;
}
.horizontaltabs a:hover {
    background-color: aqua;
    color: darkblue;
}

.footer {
    text-align: center;
}
